@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }

  input,
  textarea,
  select {
    @apply text-gray-900 caret-black bg-white;

  }
}

input,
textarea,
select {
  caret-color: black !important;
  color: #111827 !important;
}

:root {
  color-scheme: light;
}